.target {
    width: 100px;
    height: 20px;
    position: absolute;
    top: 80px;
    left: 50%;
    border: 2px solid #000;
    text-align: center;
}

.target2 {
    width: 100px;
    height: 20px;
    position: absolute;
    bottom: 180px;
    left: 50%;
    border: 2px solid #000;
    text-align: center;
}